.content_container {
  width: calc(100% - 1rem);
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}

.content {
  width: 100%;
  border-radius: 2rem;
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.content_top {
  display: table;
  height: 4rem;
}

.content_top_left {
  display: table-cell;
  height: 100%;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.content_top_profile_image {
  display: table-cell;
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
}

.content_top_profile_name {
  display: table-cell;
  font-size: 1.2rem;
  vertical-align: middle;
  padding-left: 1rem;
}

.content_body {
  padding-bottom: 1rem;
}

.content_body_text {
  font-size: 1.1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.content_body_image {
  width: 100%;
  padding-bottom: 1rem;
}

.content_end {
  display: table;
  height: 5rem;
}

.content_end_column {
  display: table-cell;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* padding-top: 0.5rem; */
  padding-bottom: 1.5rem;
  height: 100%;
  width: 3.5rem;
}

.content_end_column_button {
  height: 100%;
  width: 100%;
  margin-left: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.content_end_column_button:hover {
  -webkit-box-shadow: 0px 0px 0.5rem 0px rgba(143, 143, 143, 1);
  -moz-box-shadow: 0px 0px 0.5rem 0px rgba(143, 143, 143, 1);
  box-shadow: 0px 0px 0.5rem 0px rgba(143, 143, 143, 1);
}

.content_end_column_button:active {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(143, 143, 143, 1);
  -moz-box-shadow: 0px 0px 0px 0px rgba(143, 143, 143, 1);
  box-shadow: 0px 0px 0px 0px rgba(143, 143, 143, 1);
}

.FavoriteFilledIcon {
  fill: red;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12.5%;
}

.FavoriteOutlinedIcon {
  fill: red;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12.5%;
}